h2 {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    color: #FFFFFF;
}
h3 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}
h4 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #FFFFFF;
}
h5 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}
h6 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}
p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF; 
}
@media screen and (max-width: 900px) {
    h4 {
        font-size: 27px;
    }
    h5 {
        font-size: 19px;
    }
    h6 {
        font-size: 13px;
    }
    p {
        font-size: 10px;
    }
}
@media  screen and (max-width: 750px) {
    h4 {
        font-size: 14px;
    }
    h5 {
        font-size: 15px;
    }
    h6 {
        font-size: 12px;
    } 
}
@media  screen and (max-width: 650px) {
    h5 {
        font-size: 10px;
    }
 
}
