h1 {
    font-family: 'Kumar One';  
    font-size: 60px;
    color: #62e4d2;
}
h2 {
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    color: #FFFFFF;
}
.h2-dark{
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    color: #62e4d2;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #FFFFFF;
}
.h3-dark {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color:#62e4d2;
}
h4 {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
}
.h4-dark {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color:#62e4d2;
}
h5 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #FFFFFF;
}
p {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: #FFFFFF; 
}
span {
    color: #C38D9E;
}

/*change */
@media screen and (max-width: 900px) {
    h4 {
        font-size: 17px;
    }
    h5 {
        font-size: 10px;
    }
    h6 {
        font-size: 9px;
    }
    p {
        font-size: 8px;
    }
}
@media  screen and (max-width: 750px) {
    h4 {
        font-size: 14px;
    }
    h5 {
        font-size: 15px;
    }
    h6 {
        font-size: 12px;
    } 
}
@media  screen and (max-width: 650px) {
    h5 {
        font-size: 10px;
    }
 
}
