@use 'fonts';
@import 'fonts';

body {
    width: 100%;
}
/* top navbar*/
nav {
    background-color: #62e4d2;
    overflow: hidden;
    position: relative;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    font-family: 'Lobster';
    font-style: italic;
    font-size: 40px;
    color: #C38D9E;
}
.logo:hover {
    transform: scale(1.2);
}
li {
    list-style-type: none;
    margin-right: 50px;
}
a {
    text-decoration: none;
}
a:hover {
    transform: scale(1.2);  
}
.left-nav {
    display: flex;
    flex-direction: row;
}
.nav-icon {
    display: none;
}
@media screen and (width: 900px) {
    
}
@media  screen and (max-width: 650px) {
    li {
        margin-right: 20px;
    }
}
@media  screen and (max-width: 460px) {
    .left-nav {
        display: none;
    }
    .nav-icon {
        display: block;
        color: #FFFFFF;
        position: absolute;
        right: 20px;
        top: 50px;
        font-size: 30px;
    }
}
/*end top navbar*/

/*landingpage index.html*/
.landingpage {
    background-color: #FFFFFF;
}
.front{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}
.end {
    display: flex;
    justify-content: center;
}
.developer {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
/*end landingpage*/

/*about me page*/
.white-section {
    width: 100%;
    max-height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* end about me*/

/*contact page*/
/*end contact me*/

/*testimonal page*/
/* end testimonal page*/

/*work page*/
/*end workpage*/

/*footer*/
.li-footer {
    display: flex;
    flex-direction: row; 
}
.made-by {
    margin-left: 30px;
}
/*end footer*/
