@use 'fonts';
@import 'fonts';

body {
    width: 100%;
}
/* top navbar*/
nav {
    background-color: #62e4d2;
    overflow: hidden;
    position: relative;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    font-family: 'Lobster';
    font-style: italic;
    font-size: 40px;
    color: #C38D9E;
}
.logo:hover {
    transform: scale(1.2);
}
li {
    list-style-type: none;
    margin-right: 50px;
}
a {
    text-decoration: none;
}
li :hover {
    transform: scale(1.2);  
}
.left-nav {
    display: flex;
    flex-direction: row;
}
.nav-icon {
    display: none;
}
@media screen and (width: 900px) {
    
}
@media  screen and (max-width: 650px) {
    li {
        margin-right: 20px;
    }
}
@media  screen and (max-width: 460px) {
    .left-nav {
        display: none;
    }
    .nav-icon {
        display: block;
        color: #FFFFFF;
        position: absolute;
        right: 20px;
        top: 50px;
        font-size: 30px;
    }
}
/*end top navbar*/

/*landingpage index.html*/
.landingpage {
    background-color: #FFFFFF;
}
.front{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}
.end {
    display: flex;
    justify-content: center;
}
.developer {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.landing-cirkel{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-width: 50px;
    background-color: #62e4d2;
    border-color: #62e4d2;
    transform:
        translateX(100px)
        translateY(-100px);
}
/*end landingpage*/

/*about me page*/
.white-section {
    width: 100%;
    max-height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blue-section {
    width: 100%;
    max-height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #62e4d2;
}
.text {
    max-width: 30%;
}
.photo-container {
    display: flex;
    align-self: center;
}
/*make all picures smaller with tinyjgp.com*/
.img-about {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-self: center;
    border-width: 50px;
}
/* end about me*/

/*work page*/       /*why does the nav and footerlinks get blue lines when hover on this side?*/
.cirkel {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-width: 50px;
    background-color: #62e4d2;
    border-color: #62e4d2;
    display: flex;
    align-self: center;
}
.work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.work {
    max-width: 400px;
    max-height: 400px;
    border-style: solid;
    border-width: 6px;
    border-radius: 10px;
    border-color: #62e4d2;
    padding: 5px;
}
.work-img {
    width: 250px;
    height: 250px;
}
button {
    width:200px;
    height: 35px;
    background-color: #C38D9E;
    color: #FFFFFF;
    border-radius: 15px;
    border-color: #C38D9E;
}
button:hover {
    background-color: #62e4d2;
    text-decoration: none;
    color: #FFFFFF;
}
button a {
    text-decoration: none;
    color: #FFFFFF;
}
button a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
button:visited {
    background-color: #C38D9E;
    color: #FFFFFF;
}
.white-container {
    height: 200px;
}

/*end workpage*/


/*testimonal page*/
/* end testimonal page*/



/*contact page*/
.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 800px;
    color: #62e4d2;
}
#name {
    height: 30px;
    border-color: #62e4d2;
}
#email {
    height: 30px;
    border-color: #62e4d2; 
}
#message {
    height: 30px;
    border-color: #62e4d2;  
}
.form-btn {
    margin: 20px;
}
/*end contact me*/

/*footer*/
.li-footer {
    display: flex;
    flex-direction: row; 
}
.made-by {
    margin-left: 30px;
}
/*end footer*/
